.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  height: 40px;
}

.header .text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header .text p {
  font-weight: 500;
  font-size: 13px;
}

.leftButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
}
/* .leftButtons button {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.leftButtons button span {
  /* display: block; */
  /* font-size: 14px; */
  /* font-weight: 500; */
  /* cursor: pointer; */
  margin-left: 5px;
}

.rightButtons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header button {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: none;
  padding: 0.125rem 0.35rem;
}
.header button svg {
  width: 20px;
  height: 20px;
}
.header button:disabled svg {
  fill: blue;
}
