.splitContainer {
  display: flex;
  flex-direction: column;
}

.splitSlider {
  width: 100%;
  cursor: col-resize;
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.splitLeft {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splitRight {
  width: 100%;
  height: 100%;
}
